@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, planet!</h1>

Welcome to Shitty Reddit.

<div class="mt-4">
    <img src="/images/shittyReddit.png" alt="Shitty Reddit Logo" class="img-fluid" />
</div>